[Unit]
Description=Volume Control

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/volume-control
Restart=always
ExecStart=/usr/bin/ruby main.rb
Environment=BROKER_HOST=mosquitto.home.dmsilva.com SERIAL_PORT=/dev/ttyS0

[Install]
WantedBy=multi-user.target
