[Unit]
Description=TV Remote Control

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/tv
Restart=always
ExecStart=/usr/bin/ruby main.rb
Environment=BROKER_HOST=mosquitto.home.dmsilva.com

[Install]
WantedBy=multi-user.target
