<!DOCTYPE HTML>

<html lang="en">

  <head>
    <title>volume.xxx</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <style>
     .spinner {
       max-width: 300px;
     }
    </style>
  </head>

  <body>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- MQTT.js -->
    <script src="https://unpkg.com/mqtt@3.0.0/dist/mqtt.min.js"></script>

    <!-- Application script -->
    <script type="module" src="index-1.4.1.js"></script>

    <div class="container" id="main">
     <h1> Projector </h1>

      <form id="projector_form">
        <label> Power <span v-if="!projector.available">(Error)</span> </label>
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio"
                   name="projector_power"
                   v-on:click="setProjectorPower(true)"
                   v-bind:checked="projector.power" />
            On
          </label>

          <label class="radio-inline">
            <input type="radio"
                   name="projector_power"
                   v-on:click="setProjectorPower(false)"
                   v-bind:checked="!projector.power"/>
            Off
          </label>
        </div>

        <div class="form-group">
          <label>
            Volume <span v-if="!speakers.available">(Error)</span>
            <div class="input-group spinner">
              <span class="input-group-btn">
                <button class="btn btn-lg btn-default"
                        v-on:click.prevent="speakerVolumeDown">-</button>
              </span>
              <input class="form-control input-lg"
                     type="text"
                     name="speaker_volume"
                     v-on:change="setSpeakerVolume"
                     v-bind:value="speakers.volume" />
              <span class="input-group-btn">
                <button class="btn btn-lg btn-default"
                        v-on:click.prevent="speakerVolumeUp">+</button>
              </span>
            </div>
          </label>
        </div>
      </form>

      <form>
        <label> Input <span v-if="!hdmiSwitch.available">(Error)</span> </label>
        <div class="form-group">
          <label class="radio-inline" v-for="input in [...Array(8).keys()]">
            <input type="radio"
                   name="hdmi_input"
                   v-bind:checked="input + 1 === hdmiSwitch.input"
                   v-bind:value="input + 1"
                   v-on:click="setHdmiSwitchInput(input + 1)" />
            <span class="hdmi-input-label">{{input + 1}}</span>
          </label>
        </div>
      </form>

      <h1> TV <span v-if="!tv.available">(Error)</span> </h1>
      <form>
        <div class="form-group">
          <button class="btn btn-primary"
                  name="power"
                  v-on:click.prevent="sendTV('setPower', 'true')">Power</button>
        </div>

        <div class="form-group">
          <label>Volume</label>
          <br/>
          <button class="btn btn-primary"
                  name="volume_down"
                  v-on:click.prevent="sendTV('setVolume', 'down')">-</button>
          <button class="btn btn-primary"
                  name="volume_up"
                  v-on:click.prevent="sendTV('setVolume', 'up')">+</button>
        </div>

        <div class="form-group">
          <label>Channel</label>
          <br/>
          <button class="btn btn-primary"
                  name="channel_down"
                  v-on:click.prevent="sendTV('setChannel', 'down')">-</button>
          <button class="btn btn-primary"
                  name="channel_up"
                  v-on:click.prevent="sendTV('setChannel', 'up')">+</button>
        </div>

        <div class="form-group">
          <label>Input</label>
          <br/>
          <button class="btn btn-primary"
                  v-on:click.prevent="sendTV('setInput', '0')">TV</button>
          <button class="btn btn-primary"
                  v-on:click.prevent="sendTV('setInput', '1')">Video</button>
          <button class="btn btn-primary"
                  v-on:click.prevent="sendTV('setInput', '2')">HDMI 1</button>
          <button class="btn btn-primary"
                  v-on:click.prevent="sendTV('setInput', '3')">HDMI 2</button>
        </div>
      </form>
    </div>

  </body>

</html>
